<%- include('partials/header.ejs'); -%>
<h2>
    total todo: <%= total %>
</h2>

<main>
    <div class="containerheading">
        <div class="box" id="heading">
            <h1>
                <%= toDoTitle %>
            </h1>
        </div>
    </div>
    <div class>

    </div>
    <div class="box">
        <% allToDo.forEach((todo) => { %>
            <form class="cross" action="/delete" method="post">
                <input type="hidden" name="deleteItemId" value= "<%= todo.act_id %>" >
                <input type="image" src="assets/cross.png" alt="delete" >
            </form>

            <div class="item">
                <p>
                    <%= todo.activity %>
                </p>
            </div>
        <% }); %>

        <form action="/add" method="post" class="item">
            <input type="text" name="newItem" placeholder="new Item" autocomplete="off" autofocus="true">
            <button class="add" type="submit" name="toDo" value="<%= toDoTitle %>">+</button>
        </form>
    </div>



<%- include('partials/footer.ejs'); -%>

